.errors{
    position: absolute;
    bottom: 50px;
    text-align: center;
    left: 75%;
    color: red;
    border: 1px solid white;
    opacity: 0.7;
    padding: 10px;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.flexCenterRow {
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: row;
}

.Cencontainer {
    margin: 0;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.login {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 0%;

}

.login .login-left {
    width: 50%;
    height: 100%;
}

.login-left img {
    width: 100%;
    height: 100vh;
}


.login-right {
    padding: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}


.login-right table tr input {
    margin-bottom: 15px;

}

.login-right {
    font-size: 24px;
}

.login-right table table th {
    margin-right: 10px;

}


.login-right th {
    margin-bottom: 15px;
    margin-right: 15px;
}


.login-right button {
    background-color: #FFCC80 ;
    color: gray;
    padding: 6px 10px;
    border-radius: 6px;
    margin-bottom: 15px;
}









