<div class="flexsentere">
  
   

    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total User's</h5>
              <p class="card-text">This is highet amount of last users.</p>
              <a href="#" class="btn btn-primary">{{products.totalUserCount}}</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Todal Order</h5>
              <p class="card-text">This is highet amount of last orders</p>
              <a href="#" class="btn btn-primary">{{products.totalOrderList}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total wish list</h5>
              <p class="card-text">This is highet amount of leates wishlist.</p>
              <a href="#" class="btn btn-primary">{{products.wishlist}}</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Todal Order's of User</h5>
              <p class="card-text">This is highet amount of last orders</p>
              <a href="#" class="btn btn-primary">{{products.totalUserOrder}}</a>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total Order Quatity</h5>
              <p class="card-text">This is highet amount of leatest Order Quatity.</p>
              <a href="#" class="btn btn-primary">{{products.totalQuantity}}</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Todal Order's of User</h5>
              <p class="card-text">This is highet amount of last orders</p>
              <a href="#" class="btn btn-primary">{{products.totalUserOrder}}</a>
            </div>
          </div>
        </div>
      </div>

</div>